@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Bem vindo a Editora Educação
    </h1>
    
    <h2 class=" display-6 text-center py-2">
        Nós acreditamos que a educação seja a coisa mais importante para o desenvolvimento da criança
    </h2>
    
    <img src="img/Livro.png" alt="Imagem de um livro" class=""/>
    @* <p>Você pode ver mais sobre o projeto em <a></a></p> *@
</div>
